<!--   校园安全   -->
<div class="m-analysis m-evaluate m-safety" ui-view>
    <div class="row">
        <div class="analysis-top-one">
            <label class="col-lg-3 control-label">年级</label>
            <div class="col-lg-9">
                <ui-select ng-model="view_data.grade_item" theme="bootstrap" ng-disabled="true">
                    <ui-select-match placeholder="选择年级">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in view_data.grade_items | filter: $select.search">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="analysis-top-one">
            <label class="col-lg-3 control-label">班级</label>
            <div class="col-lg-9">
                <ui-select multiple ng-model="view_data.class_item" theme="bootstrap" ng-disabled="true">
                    <ui-select-match placeholder="选择班级">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="person in view_data.class_items | propsFilter: {name: $select.search, age: $select.search}">
                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="analysis-top-one">
            <label class="col-lg-3 control-label">年度</label>
            <div class="col-lg-9">
                <ui-select ng-model="view_data.year_item" theme="bootstrap" ng-disabled="true">
                    <ui-select-match placeholder="选择年度">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in view_data.year_items | filter: $select.search">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="analysis-top-one">
            <label class="col-lg-3 control-label">学期</label>
            <div class="col-lg-9">
                <ui-select ng-model="view_data.semester_item" theme="bootstrap" ng-disabled="true">
                    <ui-select-match placeholder="选择考试">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in view_data.semester_items | filter: $select.search">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="analysis-top-one">
            <label class="col-lg-3 control-label">姓名</label>
            <div class="col-lg-9">
                <ui-select ng-model="view_data.student_item" theme="bootstrap">
                    <ui-select-match placeholder="选择考试">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in view_data.student_items | filter: $select.search">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>


    <!--   内容   -->
    <div class="analysis-body">
    	<!--    -->
    	<div class="m-bs-title">
            <i class="fa fa-circle"></i>今日校园记录
    	</div>
    	<!--   /   -->
    	
    	<div class="safety-log">
    		<div class="log-line">
    			<div class="am">
    				<i class="am-line"></i>
    				<!--  上午   -->
		    		<ul class="log-am">
		    			<li style="left: 0;" ng-class="{'active':view_data.log.am[0].consume}">
		    				<i></i>
		    				<div class="am-top" ng-if="view_data.log.am[0].title">
		    					<div>
		    						<h3>{{view_data.log.am[0].title}}</h3>
			    					<p ng-bind-html="view_data.log.am[0].text"></p>
		    					</div>
		    				</div>
		    				<div class="am-bottom">
		    					<p>时间：{{view_data.log.am[0].date}}</p>
		    					<p>地点：{{view_data.log.am[0].address}}</p>
		    				</div>
		    			</li>
		    			<li class="" style="left: 34%;" ng-class="{'active':view_data.log.am[1].consume}">
		    				<i></i>
		    				<div class="am-top" ng-if="view_data.log.am[1].title">
		    					<div>
		    						<h3>{{view_data.log.am[1].title}}</h3>
			    					<p ng-bind-html="view_data.log.am[1].text"></p>
		    					</div>
		    				</div>
		    				<div class="am-bottom">
		    					<p>时间：{{view_data.log.am[1].date}}</p>
		    					<p>地点：{{view_data.log.am[1].address}}</p>
		    				</div>
		    			</li>
		    			<li style="left: 67%;" ng-class="{'active':view_data.log.am[2].consume}">
		    				<i></i>
		    				<div class="am-top" ng-if="view_data.log.am[2].title">
		    					<div>
		    						<h3>{{view_data.log.am[2].title}}</h3>
			    					<p ng-bind-html="view_data.log.am[2].text"></p>
		    					</div>
		    				</div>
		    				<div class="am-bottom">
		    					<p>时间：{{view_data.log.am[2].date}}</p>
		    					<p>地点：{{view_data.log.am[2].address}}</p>
		    				</div>
		    			</li>
		    			<li style="left: 99%;" ng-class="{'active':view_data.log.am[3].consume}">
		    				<i></i>
		    				<div class="am-top" ng-if="view_data.log.am[3].title">
		    					<div>
		    						<h3>{{view_data.log.am[3].title}}</h3>
			    					<p ng-bind-html="view_data.log.am[3].text"></p>
		    					</div>
		    				</div>
		    				<div class="am-bottom">
		    					<p>时间：{{view_data.log.am[3].date}}</p>
		    					<p>地点：{{view_data.log.am[3].address}}</p>
		    				</div>
		    			</li>
		    		</ul>
    			</div>
    			
    			<div class="am pm">
    				<i class="am-line"></i>
    				<!--  下午   -->
		    		<ul class="log-am">
		    			<li class="" style="left: 0%;" ng-class="{'active':view_data.log.pm[0].consume}">
		    				<i></i>
		    				<div class="am-top" ng-if="view_data.log.pm[0].title">
		    					<div>
		    						<h3>{{view_data.log.pm[0].title}}</h3>
			    					<p ng-bind-html="view_data.log.pm[0].text"></p>
		    					</div>
		    				</div>
		    				<div class="am-bottom">
		    					<p>时间：{{view_data.log.pm[0].date}}</p>
		    					<p>地点：{{view_data.log.pm[0].address}}</p>
		    				</div>
		    			</li>
		    			<li style="left: 50%;" ng-class="{'active':view_data.log.pm[1].consume}">
		    				<i></i>
		    				<div class="am-top" ng-if="view_data.log.pm[1].title">
		    					<div>
		    						<h3>{{view_data.log.pm[1].title}}</h3>
			    					<p ng-bind-html="view_data.log.pm[1].text"></p>
		    					</div>
		    				</div>
		    				<div class="am-bottom">
		    					<p>时间：{{view_data.log.pm[1].date}}</p>
		    					<p>地点：{{view_data.log.pm[1].address}}</p>
		    				</div>
		    			</li>
		    			<li style="left: 99%;" ng-class="{'active':view_data.log.pm[2].consume}">
		    				<i></i>
		    				<div class="am-top" ng-if="view_data.log.pm[2].title">
		    					<div>
		    						<h3>{{view_data.log.pm[2].title}}</h3>
			    					<p ng-bind-html="view_data.log.pm[2].text"></p>
		    					</div>
		    				</div>
		    				<div class="am-bottom">
		    					<p>时间：{{view_data.log.pm[2].date}}</p>
		    					<p>地点：{{view_data.log.pm[2].address}}</p>
		    				</div>
		    			</li>
		    		</ul>
    			</div>
    		</div>
    		
    	</div>
    	
    	
    	
    	<!--     -->
    	<div class="row safety-map">
    		<div class="col-xs-6">
    			<div class="m-bs-title">
		            <i class="fa fa-circle"></i>今日活动路径
		    	</div>
		    	<div class="safety-walk">
		    		<div id="l-map" data-ng-init="echarts_walk()" style="width: 700px; height: 460px;"></div>
		    	</div>
    		</div>
    		<div class="col-xs-6">
    			<div class="m-bs-title">
		            <i class="fa fa-circle"></i>本周活动范围热力图
		    	</div>
		    	<div class="safety-heat">
		    		<div id="echarts_heat" data-ng-init="echarts_heat()" style="width: 700px; height: 460px;"></div>
		    	</div>
    		</div>
    	</div>
		
        
    </div>
</div>